POSTGRES_DB_URL=jdbc:postgresql://localhost:5432/ean-api-db
POSTGRES_DB_USER=postgres
POSTGRES_DB_PASSWORD=password

KEYCLOAK_URL=http://localhost:9080
KEYCLOAK_REALM=ean-api-realm
KEYCLOAK_CLIENT_ID=ean-api-client
KEYCLOAK_SECRET=secret

REDIS_HOST=localhost
REDIS_PORT=6379
