POSTGRES_DB_URL=jdbc:postgresql://localhost:31500/homework_db
POSTGRES_DB_USER=pguser
POSTGRES_DB_PASSWORD=password

KEYCLOAK_URL=http://localhost:39080
KEYCLOAK_REALM=homeworkapp
KEYCLOAK_CLIENT_ID=homeworkapp
KEYCLOAK_SECRET=